@model MainProject.SBussiness.LandingPage.Models.Home.FooterViewModel

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-2">
                    <div class="footer__logo">
                        <img class="svg" src="/Content/resources/assets/logo_2.svg">
                    </div>
                    @if (Model.Branch != null)
                    {
                        <div class="footer__address">
                            <p>Add: @Model.Branch.Address</p>
                            <p>Phone: @Model.Branch.Phone<br>Fax: @Model.Branch.Fax</p>
                            <p>Email: @Model.Branch.Email</p>
                        </div>
                    }
                </div>
                <div class="col-lg-8 col-xl-10">
                    <div class="row">
                        @Html.Raw(Model.Menu)
						
						<div class="col-12 col-xl-4">
							<h4 class="footer__title">ĐĂNG KÍ NHẬN TIN</h4>
							<p class="subscribe__description">@Html.GetResource(TempResourceKeyCollection.Subscribe_Text)</p>
							<form class="footer__subscribe form-ajax">
								@Html.Partial("_Subscribe", new MainProject.SBussiness.LandingPage.Models.Home.SubscribeModel())
							</form>
							<div class="footer__social">
								<div class="social__item"><a class="social__link" href="@SettingHelper.GetValueSetting("FacebookPage")"><img class="svg" src="/Content/resources/assets/icons/facebook.svg"></a></div>
								<div class="social__item"><a class="social__link" href="@SettingHelper.GetValueSetting("InstagramPage")"><img class="svg" src="/Content/resources/assets/icons/instagram.svg"></a></div>
								<div class="social__item"><a class="social__link" href="#"><img class="svg" src="/Content/resources/assets/icons/zalo.svg"></a></div>
								<div class="social__item"><a class="social__link" href="#"><img class="svg" src="/Content/resources/assets/icons/envelope.svg"></a></div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright"></div>
</footer>