@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.About.AboutViewModel



@Html.Action("ShowMenu", "About")

<div class="about__staffs ov-h">
	<div class="container">
		<div class="row ai-c">
			<div class="col-xl-1"></div>
			<div class="col-lg-5 col-xl-4 col-md-6 pd-70 wow fadeInUp">
				@Html.Raw(Model.AboutBoardOfExecutive.Title)
				<div class="block__content about__staffs-content">
					@Html.Raw(Model.AboutBoardOfExecutive.Content)
				</div>
			</div>
			<div class="col-lg-5 col-md-6 wow fadeInUp">
				<div class="about__staffs-img ta-c"><img class="lazyload blur-up" data-src=@Html.Raw(Model.AboutBoardOfExecutive.Image)></div>
			</div>
		</div>
	</div>
</div>
<div class="about__staffs-slider pd-70 ov-h">
	<div class="container">
		<div class="block__title wow fadeInUp">
			<h2 class="main-title ta-c cl-main">@Model.AboutBoardOfExecutiveBlock2.Title</h2>
		</div>
		<div class="about__staffs-slider__wrapper wow fadeInUp">
			<div class="swiper__prev"><img class="svg" src="/Content/resources/assets/icons/arrow_left_2.svg"></div>
			<div class="swiper__next"><img class="svg" src="/Content/resources/assets/icons/arrow_right_2.svg"></div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					@foreach (var Item in JsonHelper.Deserialize<List<Introduction>>(Model.AboutBoardOfExecutiveBlock2.Content))
					{
						<div class="swiper-slide">
							<div class="staff__item">
								<div class="item__img"><img src=@Item.Image></div>
								<div class="item__description">
									@Html.Raw(@Item.Title)
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about__ceos-slider pd-70 ov-h">
	<div class="container">
		<div class="block__title d-f jc-c wow fadeInUp">
			<h2 class="main-title cl-white tagline">@Model.AboutBoardOfExecutiveBlock3.Title</h2>
		</div>
		<div class="about__ceos-slider__wrapper wow fadeInUp">
			<div class="swiper__prev"><img class="svg" src="/Content/resources/assets/icons/arrow_left_2.svg"></div>
			<div class="swiper__next"><img class="svg" src="/Content/resources/assets/icons/arrow_right_2.svg"></div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					@foreach (var Item in JsonHelper.Deserialize<List<Introduction>>(Model.AboutBoardOfExecutiveBlock2.Content))
					{
						<div class="swiper-slide">
							<div class="ceo__item">
								<div class="item__img"><img src=@Item.Image></div>
								<div class="item__description">
									@Html.Raw(@Item.Title)
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-page" id="js-page-verify" hidden></div>