@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.News.NewsViewModel

<div class="page__nav-container pt-70">
    <div class="block__content-long">
        <div class="page__nav-2">
            <h2 class="main-title cl-main mobile">@Model.Category.Title</h2>
            <ul class="nav__list lst-n">
                @foreach (var item in Model.Categories)
                {
                    <li class="nav__item"><a class="nav__link" href="@item.GetPrefixUrl()">@item.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="project-category pd-70">
    <div class="container">
        <div class="block__content-long project-category__wrapper">
            <div class="row">
                @foreach (var Item in Model.Articles)
                {
                    <div class="col-md-3">
                        <div class="project-category__item">
                            <a class="item__link" href=@Item.ExternalUrl>
                                <div class="item__img"><img class="lazyload blur-up ofcv" data-src=@Item.ImageDefault></div>
                                <div class="item__description">
                                    <h2 class="item__title">@Item.Title</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="pagination__wrapper">
                <div class="pagination">
                    @Html.RenderPaging(Model.Pagingation, new MainProject.Framework.Models.PagingStyleModel
                     {
                         DivContainerStyle = "class=pagination__list",
                         CurrentItemStyle = "class=pagination__item active",
                         ItemStyle = "class=pagination__item",
                         LinkStyle = "class=pagination__link"
                     })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-page" id="js-page-verify" hidden></div>