@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.News.NewsDetailViewModel



@Html.Partial("_Category", new MainProject.SBussiness.LandingPage.Models.News.NewsViewModel())

<div class="news pd-70">
	<div class="container">
		<div class="row">
			<div class="col-lg">
				<div class="news-detail__content block__content">
					<h1>@Model.Detail.Title</h1>
					<time>@Model.Detail.Order.ToString("dd/MM/yyyy")</time>
					<br>
					@Html.Raw(@Model.Detail.Body)
				</div>
			</div>
			<div class="col-md-auto news-hot__col">

				@Html.Partial("_HotNews", new MainProject.SBussiness.LandingPage.Models.News.NewsViewModel())
			</div>
		</div>
	</div>
</div>
<div class="news-page" id="js-page-verify" hidden></div>