@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.News.NewsViewModel



<div class="page__nav-container">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-auto page__nav">
				<h2>@Model.NewsCategoryTitle.Title</h2>
				<ul class="nav__list lst-n">
					@Html.Raw(Model.Category)
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="news pd-70">
	<div class="container">
		<div class="row">
			<div class="col-lg">
				<h2 class="main-title cl-main mobile mb-40">Tin tức</h2>
				<div class="news-list row">
					@foreach (var Item in Model.NewsItems)
					{
						<div class="col-md-6">
							<div class="news__item">
								<a class="item__link" href=@Item.ExternalUrl>
									<div class="item__img">
										<img class="lazyload blur-up" data-src=@Item.ImageDefault>
										<div class="item__title">
											<h4>@Item.Title</h4>
										</div>
									</div>
									<div class="item__description">
										<time class="item__time">@Item.Order.ToString("dd/MM/yyyy")</time>
										<p class="item__text">@Item.Description</p>
									</div>
								</a>
							</div>
						</div>
					}
				</div>
				<div class="pagination__container">
					<div class="pagination">
						<ul class="pagination__list">
							<li class="pagination__prev"><a class="pagination__link" href="#"><img class="svg" src="/Content/resources/assets/icons/arrow_left_no_outline.svg" /></a></li>
							<li class="pagination__item"><a class="pagination__link" href="#">1</a></li>
							<li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
							<li class="pagination__item active"><a class="pagination__link" href="#">3</a></li>
							<li class="pagination__dots"><a class="pagination__link" href="#">...</a></li>
							<li class="pagination__item"><a class="pagination__link" href="#">126</a></li>
							<li class="pagination__next"><a class="pagination__link" href="#"><img class="svg" src="/Content/resources/assets/icons/arrow_right_no_outline.svg" /></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-auto news-hot__col">
				<h2 class="main-title cl-main mb-40">@Html.GetResource(TempResourceKeyCollection.Hot_News)</h2>
				<div class="news-hot">
					<div class="row">
						@foreach (var Item in Model.HotNewsItems)
						{
							<div class="col-6 col-md-4 col-lg-12">
								<div class="news-hot__item">
									<a class="item__link" href=@Item.ExternalUrl>
										<div class="item__img">
											<img class="lazyload blur-up" data-src=@Item.ImageDefault>
										</div>
										<div class="item__description">
											<h4 class="item__title">@Item.Title</h4>
										</div>
									</a>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="news-page" id="js-page-verify" hidden></div>