@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.Contact.ContactViewModel


<div class="contact pd-70">
	<div class="container">
		<div class="block__content-short">
			<div class="contact__info">
				<div class="row">
					<div class="col-sm-4">
						<div class="contact__item">
							<div class="item__img"><img class="svg" src="/Content/resources/assets/icons/marker.svg"></div>
							<div class="item__description">
								<p>@Model.Branch.Address</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="contact__item">
							<div class="item__img"><img class="svg" src="/Content/resources/assets/icons/phone.svg"></div>
							<div class="item__description">
								<p>@Model.Branch.Phone</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="contact__item">
							<div class="item__img"><img class="svg" src="/Content/resources/assets/icons/envelope_2.svg"></div>
							<div class="item__description">
								<p>@Model.Branch.Email</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact__map">
				<div id="map">@Html.Raw(Model.Branch.AddressMap)</div>
			</div>
			<div class="contact__form">
				<div class="row">
					<div class="col-md-6">
						<div class="form__img"><img class="lazyload blur-up" data-src="/Content/resources/assets/contact/contact_1.jpg"></div>
					</div>
					<div class="col-md-6 form__wrapper">
						<h2 class="main-title cl-main">Liên hệ</h2>
						@*Form Here*@
						@Html.Partial("_Form", new MainProject.SBussiness.LandingPage.Models.FormContactViewModel.ContactFormManagement())
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contact-page" id="js-page-verify" hidden></div>

@section scripts {
    @{
        string key = SettingHelper.GetValueSetting("SiteKeyRecaptcha");
    }

    <script src="https://www.google.com/recaptcha/api.js?render=@key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@key', { action: 'NatuFarm' }).then(function (token) {
                document.getElementById("g-recaptcha-response").value = token;
            });
        });
    </script>
}