<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.MetaTitle ?? ViewBag.Title)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="shortcut icon" href="@ViewBag.Favicon">
    <!-- SEO -->
    <meta name="title" content="@Html.Raw(ViewBag.MetaTitle)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)">
    <link rel="canonical" href="@ViewBag.Canonical">

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="">
    <meta property="og:type" content="@ViewBag.Type">
    <meta property="og:title" content="@Html.Raw(ViewBag.MetaTitle)">
    <meta property="og:description" content="@Html.Raw(ViewBag.MetaDescription)">
    <meta property="og:url" content="">
    <meta property="og:image" content="@Html.Raw(ViewBag.MetaImage)">

    @* Put the frontend css, js,... folders and files in /Content/resources and leave header code files is here
       Minify all files into a bundle at /App_Start/BundleConfig.cs
        *@
    @*@Styles.Render("~/bundles/css")*@

    @* Render code from RenderBodyView to here
       By using:
            @section [name] {
                // Put code in here
            }
        ** The required option require view must have this section
        ** The PartialView is not working with this
        *@
    @RenderSection("styles", required: false)
    <!-- Put jquery here! -->
</head>
<body>
    @* Render View from Action in Controller *@
    @Html.Action("ShowHeader", "Home")

    @* Render View
        - The Sub-View should be named have character '_' at the header name.
        - Put view name if the view in the same folder with this. Ex: _Breadcrumb
        - Put full directory name if the view in the other folder with this. Ex: /Views/Shared/_Breadcrumb.cshtml
        *@
    @Html.Partial("_Breadcrumb")

    @* Render the Main View from Action in Controller  *@
    @RenderBody()

    @Html.Action("ShowFooter", "Home")

    @* Leave this footer code files is here
       If you used your own jquery just remove /bundles/jquery bundle
        *@
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", required: false)
</body>
</html>
